body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    font-family: 'Press Start 2P', cursive;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}


#start-screen {
    display: flex;
    background-image: url('/background.png'); 
    background-color: #333; 
}

h1 {
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-shadow: 4px 4px 0 #000;
}


button {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    padding: 20px 40px;
    border: 4px solid white;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s;
    margin: 10px;
}

button:hover {
    background: rgb(3, 110, 3);
    color: black;
    transform: scale(1.05);
}

#controls-page {
    display: none; 
    width: 100vw;
    height: 100vh;
    background-image: url('controls-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;

}


.top-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
}

.top-btn {
    padding: 10px 18px;
    border: 3px solid white;
    background: transparent;
    color: white;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    transition: 0.2s;
}

.top-btn:hover {
    background: white;
    color: black;
}

.levels-container {
    display: flex;
    gap: 40px;
    margin-top: 120px;
}

.level-card {
    background: rgba(0,0,0,0.6);
    padding: 20px;
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
    width: 260px;
    cursor: pointer;
    transition: 0.25s;
}

.level-card:hover {
    transform: scale(1.1);
    background: rgba(255,255,255,0.9);
    color: black;
}

.level-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 3px solid white;
    margin-bottom: 10px;
}

.level-card h3 {
    margin: 0;
    font-size: 18px;
}
#help-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.help-box {
    background: rgba(0,0,0,0.7);
    border: 4px solid white;
    padding: 30px;
    width: 400px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    box-shadow: 0 0 25px red, 0 0 60px yellow;
}

.help-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.help-box ul {
    list-style: none;
    padding: 0;
    line-height: 2.2;
}

#close-help {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: 3px solid white;
    background: black;
    color: white;
    cursor: pointer;
}

#close-help:hover {
    background: white;
    color: black;
}
#gameArea {
  width: 100vw;
  height: 100vh;
  background: #111;
  position: relative;
}
